body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
}

.padding{
  padding: 5%;
}

.padding-1{
  padding: 1%!important;
}
.padding-2{
  padding: 2%!important;
}
.padding-3{
  padding: 3%!important;
}
.padding-4{
  padding: 4%!important;
}
.padding-5{
  padding: 5%!important;
}

.margin-0{
  margin: 0px!important;
}

.tabs .tab a {
  color: rgba(1, 110, 240,0.5);
}

.img-text{
  opacity: 0.6;
  background-color: #000;
  color: white;
  margin-top: 1%;
}

.tabs .indicator {
  background-color: #016EF0;
}
.tabs .active {
  color: #016EF0!important;
}

.tabs{
  margin-bottom: 2%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* color: #343434; */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.img-back{
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
    width: 100%;
    height: auto;
}

.cor-texto{
  color: #343434;
}

.text-justify{
  text-align: justify;
}

.card:hover, .card:active, .card:focus{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition:transform 0.25s ease-in-out;
  -ms-transition:transform 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
                      0 3px 14px 2px rgba(0,0,0,0.12), 
                      0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
              0 3px 14px 2px rgba(0,0,0,0.12), 
              0 5px 5px -3px rgba(0,0,0,0.3);
}