body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
}

/* header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
} */

/* .side-nav .user-view .circle, .side-nav .userView .circle {
  height: 150px;
  width: 150px;
}

nav ul a,
nav .brand-logo {
  color: #444;
} */

p {
  line-height: 2rem;
}

.tabs .indicator {
  background-color: #016EF0;
}
.tabs .tab, .tabs .tab a.active {
  background-color: transparent;
  color: #016EF0;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #343434;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.color-my-icon{
  background-color: #016EF0;
}

.img-back{
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
    width: 100%;
    height: auto;
}

.cor-texto{
  color: #343434;
}

.side-nav{
  overflow: hidden!important;
}

.text-justify{
  text-align: justify;
}