<br>
<br>
<div class="container">
    <h3 class="texto-moon center-align">
        Conheça Oasis
    </h3>
    <br>
    <br>
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="./img/oasis.jpeg" width="100%" height="auto">
        </div>
        <div class="col s12 m6 l6">
            <h3 class="text-justify texto-moon">
                Um festival que agitará mais de 9
                milhões Km², criando o seu Oasis
                á beira do Rio Nilo em pleno deserto
                do Saara.     
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6 texto-moon">
            <h4>- 3 dias da mais pura refrescancia</h4>
            <h4>- 3 dias com os melhores sorvetes ja feito</h4>
        </div>
        <div class="col s12 m6 l6 texto-moon">
            <h4>
                - 3 dias com palestrantes e chefes que mudaram
                a maneira de como se faz um verdadeiro
                sorvete
            </h4>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center card-text-paralax">
                <h2 class="header col s12 light">
                    Miragem para que?<br>
                    No Oasis tudo pode acontecer
                </h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./img/menina.png" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <br><br>
    <h3 class="texto-moon center-align">
        Palestrantes
    </h3>
    <br><br>
   <div class="row">

   </div>
</div>

<div class="parallax-container valign-wrapper">
    <!-- <div class="section no-pad-bot">
        <div class="container">
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        </div>
    </div> -->
    <div class="parallax"><img src="./img/ice-c.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <br><br>
    <h3 class="texto-moon center-align">
        Organizadores
    </h3>
    <br><br>
</div>


<div class="parallax-container valign-wrapper">
    <!-- <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div> -->
    <div class="parallax"><img src="../img/iceicebaby.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
    <br><br>
    <h3 class="texto-moon center-align">
        Patrocinadores
    </h3>
    <br><br>
</div>

<div class="parallax-container valign-wrapper">
    <!-- <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div> -->
    <div class="parallax"><img src="../img/eat.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
    <br><br>
    <h3 class="texto-moon center-align">
        Localização
    </h3>
    <br><br>
    <div class="row">
        <div class="col s12 m6 l6 center">
            <img src="../img/local.png" width="80%" height="auto">
        </div>
        <div class="col s12 m6 l6">
            <h4 class="text-justify texto-moon">
                NÃO SOU UMA MIRAGEM!
            </h4>
            <h3 class="text-justify texto-moon">
                O melhor sorvete do deserto do saara estara situado ao norte da
                Africa a beira do Rio Nilo. Contamos aqui com transportes turisticos
                então se preoculpe somente em chegar.
                Contamos tambem com um excelente Heliporto, onde Oasis
                estara buscando os convidados de nosso evento.
                Esperamos a sua visita para o mais divertido e refrescante evento
                que voce pode obter!
            </h3>
        </div>
    </div>
</div>