 <!-- Sobre – ​seção contendo informações sobre a pessoa, como: Nome
    completo, foto atualizada, data de nascimento, pequeno texto com
    descrição pessoal, entre outros;
    ▪ Objetivo – ​seção contendo informações sobre seus planos profissionais;
    ▪ Qualificações – ​seção contendo informações sobre formação acadêmica,
    cursos e demais informações relacionadas;
    ▪ Experiências – ​seção contendo experiências, profissionais e acadêmicas,
    que sejam relacionadas à área de TI ou que agreguem valor;
    ▪ Curiosidades - ​seção contendo hobbies, características e demais
    informações. Livre para utilizar criatividade. -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="header center">
                <img src="images/f-inside-a-circle.png" height="100px" width="100px" alt="">
            </div>
            <div class="row center">
                <h4 class=" light"><b>Felipe Custódio Firmino</b></h4>
            </div>
            <div class="row center">
                <h5>Currículo</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img class="img-back" src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <h3 class="cor-texto">Sobre</h3>
    <div class="row">
        <div class="col s12 m12 l12">
            <p class="flow-text">
                Oi! Meu nome é Felipe Custodio Firmino, tenho 22 anos nasci no interior de Minas Gerais
                perto da divisa com São Paulo em Itaú de Minas. 
            </p>
        </div>
    </div>
</div>




        
        
        