 <!-- Sobre – ​seção contendo informações sobre a pessoa, como: Nome
    completo, foto atualizada, data de nascimento, pequeno texto com
    descrição pessoal, entre outros;
    ▪ Objetivo – ​seção contendo informações sobre seus planos profissionais;
    ▪ Qualificações – ​seção contendo informações sobre formação acadêmica,
    cursos e demais informações relacionadas;
    ▪ Experiências – ​seção contendo experiências, profissionais e acadêmicas,
    que sejam relacionadas à área de TI ou que agreguem valor;
    ▪ Curiosidades - ​seção contendo hobbies, características e demais
    informações. Livre para utilizar criatividade. -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="header center">
                <img src="images/me.jpg" height="150px" width="150px" style="border-radius:100%">

            </div>
            <div class="row center img-text padding-1">
                <h4 class="light"><b>Felipe Custódio Firmino</b></h4>
                <h5 class="light">Desenvolvedor</h5>
                <h5>Currículo</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img class="img-back" src="/images/background2.png" alt="Unsplashed background img 1"></div>
</div>
<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
    <li class="tab col s3"><a class="active" href="#test-swipe-1"><i class="material-icons">info</i></a></li>
    <li class="tab col s3"><a class="" href="#test-swipe-2"><i class="material-icons">my_location</i></a></li>
    <li class="tab col s3"><a class="" href="#test-swipe-3"><i class="material-icons">work</i></a></li>
    <li class="tab col s3"><a class="" href="#test-swipe-4"><i class="material-icons">timeline</i></a></li>
    <li class="tab col s3"><a class="" href="#test-swipe-5"><i class="material-icons">search</i></a></li>
</ul>
<div id="test-swipe-1" class="col s12 container">
    
    <div class="row">
        <div class="col s12 text-center">
            <h3 class="indigo-text text-darken-3 margin-0">Sobre</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6 padding-3">
            <div class="card padding-5">
                <h5 class="indigo-text text-darken-3 margin-0">Um pouco sobre mim</h5>
                <br>
                <p class="text-justify margin-0">
                    Olá! Tenho 22 anos e nasci no interior de Minas Gerais perto da divisa com São Paulo 
                    em Itaú de Minas. Sou uma pessoa bem empática, sempre tento compreender as pessoas ao 
                    meu redor, também gosto de ajudar meus amigos sempre quando eles têm problemas. 
                    Uma qualidade minha é que sempre gosto de ir direto ao "ponto" destesto ficar com enrolação,
                    então gosto de resolver as coisas rapidamente.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l6 padding-3">
            <div class="card padding-3">
                <h5 class="indigo-text text-darken-3 margin-0">Contato</h5>
                <br>
                <table class="highlight sem-padding-td">
                    <tbody>
                        <tr>
                            <td><i class="material-icons indigo-text text-darken-3">account_box</i></td>
                            <td><b class="indigo-text text-darken-3">Idade:</b> 22</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons indigo-text text-darken-3">location_on</i></td>
                            <td><b class="indigo-text text-darken-3">Endereço:</b> Rua Treze de Outubro 125, Centro - Lavras(MG)</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons indigo-text text-darken-3">phone</i></td>
                            <td><b class="indigo-text text-darken-3">Telefone:</b> +55 35 9 9209-0709</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons indigo-text text-darken-3">email</i></td>
                            <td><b class="indigo-text text-darken-3">E-Mail:</b> felipe.custodio_f@hotmail.com</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col s4 m2 l2">
                        <a href="https://plus.google.com/u/0/118401988355681119862" class="google sgv-icon"></a>
                    </div>
                    <div class="col s4 m2 l2">
                        <a href="https://www.facebook.com/fcustodiof" class="facebook sgv-icon"></a>
                    </div>
                    <div class="col s4 m2 l2">
                        <a href="https://www.instagram.com/fcustodiof" class="instagram sgv-icon"></a>
                    </div>
                    <div class="col s4 m2 l2">
                        <a href="https://www.linkedin.com/in/felipe-custodio-firmino/" class="linkedin sgv-icon"></a>
                    </div>
                    <div class="col s4 m2 l2">
                        <a href="https://twitter.com/fcustodiof" class="tweeter sgv-icon"></a>
                    </div>
                    <div class="col s4 m2 l2">
                        <a href="mailto:felipe.custodio_f@hotmail.com" class="email sgv-icon"></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div id="test-swipe-2" class="col s12">
    <div class="row">
        <div class="col s12 text-center">
            <h3 class="indigo-text text-darken-3 margin-0">Objetivos</h3>
        </div>
        <div class="col s12 padding-3 text-center">
            <div class="card horizontal">
              <div class="card-image">
                <img src="images/career-ladder.jpg" width="auto" height="300px">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <p class="flow-text">Ter uma empresa desenvolvedora de software</p>
                    <p class="flow-text">Ser empregado da Google.</p>
                    <p class="flow-text">Virar Design de Software.</p>
                    <p class="flow-text">Ter um cachorro</p>
                    <p class="flow-text">Começar como desenvolvedor.</p>
                    <p class="flow-text">Ser muito bom na natação</p>
                    <p class="flow-text">Formar em Sistemas de Informação</p>
                    <p class="flow-text">Dar o melhor de mim sempre.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div id="test-swipe-3" class="col s12">
    <div class="row">
        <div class="col s12 text-center">
            <h3 class="indigo-text text-darken-3 margin-0">Qualificações</h3>
        </div>
    </div>
</div>
<div id="test-swipe-4" class="col s12">
    <div class="row">
        <div class="col s12 text-center">
            <h3 class="indigo-text text-darken-3 margin-0">Experiências</h3>
        </div>
    </div>
</div>
<div id="test-swipe-5" class="col s12">
    <div class="row">
        <div class="col s12 text-center">
            <h3 class="indigo-text text-darken-3 margin-0">Curiosidades</h3>
        </div>
    </div>
</div>






        
        
        