<div class="">
  <div class="fixed-action-btn vertical" style="bottom:90px">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar novo quarto" data-target='novoQuarto' modal><i class="material-icons">add</i></a></li>
    </ul>
  </div>
  <div class="row" style="margin-top:5%">
    <div class="col s12 m6 l6">
      <div class="quarto-card card">
        <div class="row center-align" style="padding:5px">
          <div class="col s4">
            <a style="margin-top: 7px;" data-target='vincularPessoaQuarto' modal class="left indigo accent-4 waves-effect waves-light btn">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="col s4">
            <h5>Quarto 1 (Albergue Misto)</h5>
          </div>
          <div class="col s4">
            <strong style="margin-top: 20px;" class="right head-quarto-margin-comp">Vagas: 2</strong>
          </div>
        </div>
        <ul class="tabs">
          <li class="tab col s3"><a  class="active" href="#test1">Cama 1</a></li>
          <li class="tab col s3"><a href="#test2">Cama 2</a></li>
          <li class="tab col s3 disabled"><a href="#test3">Cama 3</a></li>
          <li class="tab col s3 disabled"><a href="#test4">Cama 4</a></li>
        </ul>
        <div id="test1" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="waves-effect waves-light btn indigo accent-4" data-target='modalCheckIn' modal>
                  Check-in
                  <i class="material-icons left">keyboard_arrow_right</i>
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4" data-target='modalCheckOut' modal>
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col s2">
              <img src="./images/felipe.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <p class="flow-text" style="margin-top:0px">Nome: Felipe
              <br>Sexo: Masculino
              <br>Idade: 25 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
        <div id="test2" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_right
                  </i>
                  Check-in
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col s2">
              <img src="./images/MargaeryTyrell.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <p class="flow-text" style="margin-top:0px">Nome: Margaery Tyrell
              <br>Sexo: Feminino
              <br>Idade: 25 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
        <div id="test3" class="col s12 card">Cama 3</div>
        <div id="test4" class="col s12 card">Cama 4</div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="quarto-card card">
        <div class="row center-align" style="padding:5px">
          <div class="col s4">
            <a style="margin-top: 7px;" class="left indigo accent-4 waves-effect waves-light btn">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="col s4">
            <h5>Quarto 2 (Albergue Feminino)</h5>
          </div>
          <div class="col s4">
            <strong style="margin-top: 20px;" class="right head-quarto-margin-comp">Vagas: 2</strong>
          </div>
        </div>
        <ul class="tabs">
          <li class="tab col s3"><a  class="active" href="#test5">Cama 1</a></li>
          <li class="tab col s3"><a href="#test6">Cama 2</a></li>
          <li class="tab col s3 disabled"><a href="#test7">Cama 3</a></li>
          <li class="tab col s3 disabled"><a href="#test8">Cama 4</a></li>
        </ul>
        <div id="test5" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="waves-effect waves-light btn indigo accent-4">
                  Check-in
                  <i class="material-icons left">keyboard_arrow_right</i>
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <!-- <div class="col s2">
              <img src="./images/sansa-stark.jpg" alt="" class="circle responsive-img">
            </div> -->
            <div class="col s12">
              <p class="flow-text" style="margin-top:0px">
                Nome: Sansa Stark
              <br>Sexo: Feminino
              <br>Idade: 25 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
        <div id="test6" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="<waves></waves>-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_right
                  </i>
                  Check-in
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <!-- <div class="col s2">
              <img src="./images/arya-stark.jpg" alt="" class="circle responsive-img">
            </div> -->
            <div class="col s12">
              <p class="flow-text" style="margin-top:0px">
                Nome: Arya Stark
              <br>Sexo: Feminino
              <br>Idade: 15 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
        <div id="test7" class="col s12 card">Cama 3</div>
        <div id="test8" class="col s12 card">Cama 4</div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="quarto-card card">
        <div class="row center-align" style="padding:5px">
          <div class="col s4">
            <a style="margin-top: 7px;" class="left indigo accent-4 waves-effect waves-light btn">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="col s4">
            <h5>Quarto 3 (Privativo)</h5>
          </div>
          <!-- <div class="col s4">
            <strong style="margin-top: 20px;" class="right head-quarto-margin-comp">Vagas: 2</strong>
          </div> -->
        </div>
        <ul class="tabs">
          <li class="tab col s6"><a  class="active" href="#test9">Hóspede 1</a></li>
          <li class="tab col s6"><a href="#test10">Hóspede 2</a></li>
        </ul>
        <div id="test9" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="waves-effect waves-light btn indigo accent-4">
                  Check-in
                  <i class="material-icons left">keyboard_arrow_right</i>
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <!-- <div class="col s2">
              <img src="./images/sansa-stark.jpg" alt="" class="circle responsive-img">
            </div> -->
            <div class="col s12">
              <p class="flow-text" style="margin-top:0px">
                Nome: Sansa Stark
              <br>Sexo: Feminino
              <br>Idade: 25 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
        <div id="test10" class="col s12 card">
          <!-- <div class="row" style="margin-top:8px">
            <div class="col s6">
              <div class="left">
                <a class="<waves></waves>-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_right
                  </i>
                  Check-in
                </a>
                <h6 style="margin-left:10px">Check-in: 00/00/0000</h6>
              </div>
            </div>
            <div class="col s6">
              <div class="right">
                <a class="waves-effect waves-light btn indigo accent-4">
                  <i class="material-icons left">keyboard_arrow_left</i>
                  Check-out
                </a>
                <h6 style="margin-right:10px">Check-out: 00/00/0000</h6>
              </div>
            </div>
          </div> -->
          <div class="row">
            <!-- <div class="col s2">
              <img src="./images/arya-stark.jpg" alt="" class="circle responsive-img">
            </div> -->
            <div class="col s12">
              <p class="flow-text" style="margin-top:0px">
                Nome: Arya Stark
              <br>Sexo: Feminino
              <br>Idade: 15 anos
              <br>CPF: 000.000.000-00
              <br>RG: XX-00000000</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal Structure -->

<div id="vincularPessoaQuarto" class="modal">
  <div class="modal-content">
    <h4 class="indigo-text text-accent-4">Registrar vaga do cliente</h4>
    <a class="btn indigo accent-4" ng-click="formNovoHospede()">Novo Hospede</a>
    <a class="btn indigo accent-4" ng-click="hospedeReserva()">Hospede com reserva</a>
    <div class="row" ng-if="novoHospede" style="margin-top:5%">
      <form name="novoHospedeForm">
        <div input-field class="col s6">
          <select class="" id="selecioneAcama" ng-model="selectCama" material-select watch>
            <option value="" disabled selected>Selecione a cama</option>
            <option ng-repeat="cama in camas">{{cama.cama}}</option>
          </select>
          <label for="selecioneAcama">Selecione a cama</label>
        </div>
        <div class="input-field col s6">
          <input id="nome" type="text" class="validate" required>
          <label for="nome">Nome completo</label>
        </div>
        <div class="col s6">
          <label for="inputCreated">Data de nascimento</label>
          <input input-date type="text" name="created" id="inputCreated" ng-model="currentTime"
              container=""
              format="dd/mm/yyyy"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              today="today"
              first-day="1"
              clear="clear"
              close="close"
              select-years="100"
              on-start="onStart()"
              on-render="onRender()"
              on-open="onOpen()"
              on-close="onClose()"
              on-set="onSet()"
              on-stop="onStop()" />
        </div>
        <div class="col s6">
          <p>Sexo</p>
          <p>
            <input name="group1" type="radio" id="masculino" />
            <label for="masculino">Masculino</label>
          </p>
          <p>
            <input name="group1" type="radio" id="feminino" />
            <label for="feminino">Feminino</label>
          </p>
        </div>
        <div class="input-field col s6">
          <input id="cpf" type="number" class="validate" required>
          <label for="cpf">CPF</label>
        </div>
        <div class="input-field col s6 ">
          <input id="RG" type="number" class="validate" required>
          <label for="RG">RG</label>
        </div>
        <div class="input-field col s6">
          <input id="telefone" type="number" class="validate" required>
          <label for="telefone">Telefone</label>
        </div>
        <div class="input-field col s6">
          <input id="endereco" type="text" class="validate" required>
          <label for="endereco">Endereço</label>
        </div>
      </form>
    </div>
    <div ng-if="!novoHospede">
      <h5 class="indigo-text text-accent-4">Reserva</h5>
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Procurar</label>
      </div>
      <div class="collection">
        <a class="collection-item">Krug</a>
        <a class="collection-item active">Alvin</a>
        <a class="collection-item">Vander</a>
        <a class="collection-item">Auberto</a>
      </div>
      <h5 class="indigo-text text-accent-4">Selecione os hospedes</h5>
      <form>
        <p class="">
          <input class="" type="checkbox" id="jo"/>
          <label class="" for="jo">João</label>
        </p>
        <p>
          <input type="checkbox" id="ka"/>
          <label for="ka">Karla</label>
        </p>
        <p>
          <input type="checkbox" id="ma"/>
          <label for="ma">Maria</label>
        </p>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn indigo accent-4">Salvar</a>
  </div>
</div>

<!-- Modal Structure -->

<div id="modalCheckIn" class="modal">
  <div class="modal-content">
    <h4 class="indigo-text text-accent-4">Check-in</h4>
    <h5>Data: {{data}}</h5>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Observações</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn indigo accent-4">Realizar check-in</a>
  </div>
</div>

<!-- Modal Structure -->

<div id="modalCheckOut" class="modal">
  <div class="modal-content">
    <h4 class="indigo-text text-accent-4">Check-out</h4>
    <h5>Data: {{data}}</h5>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea2">Observações</label>
    </div>
    <table class="bordered striped centered responsive-table">
      <thead>
        <tr>
          <th>Consumo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Coca-cola</td>
          <td>R$3,50</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>R$3,50</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn indigo accent-4">Finalizar</a>
  </div>
</div>

<div id="novoQuarto" class="modal">
  <div class="modal-content">
    <h4 class="indigo-text text-accent-4">Novo quarto</h4>
    <div class="row" ng-if="novoHospede" style="margin-top:5%">
      <form name="novoHospedeForm">
        <div input-field class="col s6">
          <select class="" id="selecioneAcama" ng-model="selectCama" material-select watch>
            <option value="" disabled selected>Selecione tipo do quarto</option>
            <option ng-repeat="quarto in tipoQuartos">{{quarto.tipo}}</option>
          </select>
          <label for="selecioneAcama">Selecione tipo do quarto</label>
        </div>
        <div class="input-field col s6">
          <input id="nome" type="text" class="validate" required>
          <label for="nome">Nome completo</label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn indigo accent-4">Salvar</a>
  </div>
</div>